{
  "video": {
    "path": "/media/video1.mp4"
  },
  "cuepoints": {
    "cue1_ms": 20,
    "cue2_ms": 12000,
    "cue3_ms": 13000,
    "cue4_ms": 14000,
    "cue5_ms": 14500,
    "cue6_ms": 15000,
    "cue7_ms": 16000,
    "cue8_ms": 200000,
    "cue9_ms": 210000
  },
  "timer_minutos": 5,
  "audio": {
    "salida": "hdmi",
    "alsa_hdmi": "plughw:CARD=vc4hdmi0,DEV=0",
    "alsa_externa": "plughw:CARD=Device,DEV=0"
  },
  "boton1_largo": {
    "segundos": 5,
    "comando": "systemctl restart video-control",
    "overlay": {
      "texto": "SOLTAR PARA\nREINICIAR",
      "tamano": 42,
      "centrado": true,
      "color_hex": "FFFFFF",
      "opacidad": 255,
      "sombra_roja": true
    }
  }
}